.button {
    padding: .5rem 2rem;
    border: .1rem solid $darker-teal;
    border-radius: .3rem;
    margin: .5rem 0 0;

    background-color: $light-teal;
    color: $darker-teal;
    font-family: Futura;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-transform: uppercase;

    &--print {
        display: block;
        padding: .1rem 1rem;
        margin: 1rem auto 0;
        background-color: $transparent-white;
    }
}
