.barcode {
    display: inline-flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: .5rem;
    position: relative;
    margin: .5rem;
}

.barcode--small {
    width: 2cm;
    min-height: 2cm;
}

.barcode--medium {
    width: 6.05cm;
    min-height: 6cm;
}

.barcode--large {
    width: 18.1cm;
    min-height: 22cm;
    display: flex;
    margin: .5rem auto;
    page-break-after: always;
}

.barcode__title {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    border: 1px solid black;
    border-radius: .5rem;
    font-family: Futura;
    font-size: .5rem;
    background-color: white;
    padding: .2rem .3rem;
    margin: 0 -.3rem -.3rem 0;
}

.barcode__pattern {
    width: 20.1mm;
}
