:root {
    --teal: #26b2aa;
    --dark-teal: #0b3231;
    --light-teal: #a8ede9;
    --transparent-white: rgba(255, 255, 255, .8);
    --red: #b1252c;
    --light-red: #f4cbcd;
    --dark-red: #4c1013;
}

/**
 * Page Layout
 */
body {
    margin: 0;
}

.header {
    background-color: var(--teal);
    border-radius: 0 0 40% 40%;
    padding: 1rem;
    margin-bottom: 2rem;
    position: relative;
}

@media print {
    .header {
        display: none;
    }
}

.header__back {
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: var(--dark-teal);
    text-decoration: none;
    border: 1px solid var(--dark-teal);
    border-radius: .2rem;
}

.header__title {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark-teal);
    margin: 0;
    text-align: center;
}

.main {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 40rem;
    margin: 0 auto;
}

.main__tip {
    background-color: var(--light-teal);
    padding: 1rem;
    border: 1px solid var(--dark-teal);
    border-radius: .5rem;
    margin: 0 0 2rem;
}

.hide {
    display: none;
}

/**
 * Errors
 */

.error {
    border: 2px solid var(--dark-red);
    border-radius: .5rem;
    padding: 1rem;
    background-color: var(--light-red);
}

.error__title {
    color: var(--red);
    margin: 0;
}

.error__message {
    color: var(--dark-red);
}

/**
 * Forms
 */
.type-section {
    border-radius: .5rem;
    margin-top: 1rem;
}

.named-selection {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.named-selection__option {
    width: calc(50% - .2rem);
}

@media screen and (min-width: 768px) {
    .named-selection__option {
        width: calc(33% - .2rem);
    }
}

.option-box {
    display: block;
    padding: .5rem;
    border: 1px solid var(--dark-teal);
    border-radius: .2rem;
    margin: .1rem;
}

/**
 * Barcode
 */
.barcode {
    display: inline-flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: .5rem;
    position: relative;
    margin: .5rem;
}

.barcode--small {
    width: 2cm;
    min-height: 2cm;
}

.barcode--medium {
    width: 6.05cm;
    min-height: 6cm;
}

.barcode--large {
    width: 18.1cm;
    min-height: 22cm;
    display: flex;
    margin: .5rem auto;
    page-break-after: always;
}

.barcode__title {
    position: absolute;
    bottom: 10%;
    right: -10%;
    width: auto;
    border: 1px solid black;
    border-radius: .5rem;
    font-family: Futura;
    font-size: .5rem;
    background-color: var(--transparent-white);
    padding: .2rem .3rem;
    margin: 0 -.3rem -.3rem 0;
    transform: rotate(-20deg);
}

.barcode--medium .barcode__title,
.barcode--large .barcode__title {
    bottom: 1rem;
    right: 0;
}

.barcode__pattern {
    width: 20.1mm;
}
