:root {
    --barcode-red: #b22222;
    --barcode-yellow: #fad700;
    --barcode-light-green: #9acd33;
    --barcode-dark-green: #2e8b57;
    --barcode-teal: #26b2aa;
    --barcode-blue: #4169e1;
    --barcode-purple: #9370db;
    --barcode-pink: #da70d6;

    --teal: #26b2aa;
    --dark-teal: #0b3231;
    --light-teal: #a8ede9;
    --transparent-white: rgba(255, 255, 255, .8);
    --red: #b1252c;
    --light-red: #f4cbcd;
    --dark-red: #4c1013;
}

/**
 * Page Layout
 */
body {
    margin: 0;
}

.header {
    background-color: var(--teal);
    border-radius: 0 0 40% 40%;
    padding: 1rem;
    margin-bottom: 2rem;
    position: relative;
}

@media print {
    .header {
        display: none;
    }
}

.header__back {
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: var(--dark-teal);
    text-decoration: none;
    border: 1px solid var(--dark-teal);
    border-radius: .2rem;
    padding: .1rem .4rem;
}

.header__title {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark-teal);
    margin: 0;
    text-align: center;
}

.main {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 45rem;
    margin: 0 auto;
}

@media print {
    .main {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
}

.main__tip {
    background-color: var(--light-teal);
    padding: 1rem;
    border: 1px solid var(--dark-teal);
    border-radius: .5rem;
    margin: 0 0 2rem;
}

@media print {
    .main__tip {
        display: none;
    }
}

.print-button {
    display: block;
    line-height: 1.5rem;
    padding: .1rem 1rem;
    margin: 1rem auto 0;
}

.hide {
    display: none;
}

/**
 * Errors
 */

.error {
    border: 2px solid var(--dark-red);
    border-radius: .5rem;
    padding: 1rem;
    background-color: var(--light-red);
}

.error__title {
    color: var(--red);
    margin: 0;
}

.error__message {
    color: var(--dark-red);
}

/**
 * Forms
 */
.type-section {
    border-radius: .5rem;
    margin-top: 1rem;
}

.named-selection {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
}

.named-selection__option {
    width: calc(50% - .1rem);
}

@media screen and (min-width: 768px) {
    .named-selection__option {
        width: calc(33% - .1rem);
    }
}

.option-box {
    display: block;
    padding: .5rem;
    border: 1px solid var(--dark-teal);
    border-radius: .2rem;
    margin: .1rem;
}

/**
 * Barcode
 */
.barcode {
    display: inline-block;
    border: 1px solid black;
    border-radius: .5rem;
    position: relative;
    margin: .5rem .5rem 0 0;
    overflow: hidden;
    page-break-inside: avoid;
}

.barcode--1 {
    width: 1cm;
    height: 1cm;
}

.barcode--2 {
    width: 2cm;
    height: 2cm;
}

.barcode--6 {
    width: 6cm;
    height: 6cm;
}

.barcode--12 {
    width: 12cm;
    height: 12cm;
}

.barcode--18 {
    /* unlike other sizes, this one is filling entire page */
    width: 18cm;
    height: 24cm;
    display: block;
    margin: .5rem auto;
    page-break-after: always;
}

.barcode__title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    border: 1px solid black;
    border-bottom: none;
    border-radius: .5rem;
    font-family: Futura;
    font-size: .5rem;
    background-color: var(--transparent-white);
    padding: .2rem .3rem;
    margin: 0;
}

.barcode--1 .barcode__title {
    /* Note: use px here, as it will not go below 9px using rem */
    font-size: 5px;
    padding: .1rem;
}

.barcode__pattern {
    width: 1cm;
}

.barcode--2 .barcode__pattern {
    width: 2cm;
}

.barcode--6 .barcode__pattern {
    width: 6cm;
}

.barcode--12 .barcode__pattern {
    width: 12cm;
}

.barcode--18 .barcode__pattern {
    width: 18cm;
}
